@import '../variables';

body {
    background-color: $day-background;
    font-family: $font-fam;
}

// button styles

.button {
    font-size: $fsize-reg;
    color: $fcolor-db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colored{
    background: $day-bcolored;
    outline: 1px solid #110038;
    //border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    height: 36px;
    width: 140px;
    text-align: center;
}



// HEADER - NAV BAR + LOGO

header {
    .top-bar{
        background: $day-gradient;
        color: $fcolor-lb;
        font-size: $fsize-small;
        font-weight: 400;
        padding: 4px 8px;
        box-shadow: 0 1px 0 0 #110038;
    }

    .main-header{
        @if background-color($day-background){
           [class="night"] {
                display: none;
            }
        }
        display: flex;
        justify-content: space-between;
        height: 64px;
        margin: 35px 140px 19px 100px;

        img{
            width: 103px;
        }
        
        nav{
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: flex-start;
            padding: 15px;
    
            .theme-buttons{
                display: none;
            }
            
            .theme-dopdown{
                display: flex;
                flex-direction: row;
                justify-content: center;

                &:hover{
                    
                    div:before{
                        content: " ";
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        border-collapse: collapse;
                        border: 1.5px dotted #110038;
                    }
                }
            }
    
            .material-icons{
                width: 36px;
                height: 36px;
                align-self: center;
                margin: 0px;
            }

            a {
                margin-left: 16.5px;

                span {
                border-bottom: 1px solid #000;
                padding-bottom: 2px;
                line-height: 2px;

                }
            }
    
        }
    }

}
// Theme selector

.theme-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;

    margin-left: 16px;
    z-index: 1;
}
.theme-buttons{
    width: 177px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $day-greybox;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    .sailor-day{

        width: 150px;
        height: 36px;
        background: $day-background;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    }

    .sailor-night{

        width: 150px;
        height: 36px;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }

}



// Search Bar

.search-container{
    
    margin: 35px 140px 19px 100px;
    background: $day-greybox;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

    .top-bar{
        font-weight: 900;
    }

    .search{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        input {
            width: 1057px;
            height: 48px;
            padding: 13px;
            margin: 12px;
            color: $fcolor-db;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
            
            &::placeholder{
                color: #B4B4B4;
                font-family: $font-fam;
                font-size: $fsize-reg;
            }
        }

        .button{
            margin: 18px;
            width: 102px;
            height: 36px;
            align-self: center;

            svg{
                float: left;
                margin-right: 10px;
            }
            p{
                float: right;
            }
        }

        .inactive-night, .active-night{
            display: none;
        }

        .inactive{
            background: $day-greybox;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

            .inactive-day {
                display: block;
            }
            .active-day {
                display: none;
            }

            p{
                color: #B4B4B4;
            }
        }

        .colored{

            .inactive-day {
                display: none;
            }
            .active-day {
                display: block;
            }

            &:active{
                border: 1px solid #110038;
            }

        }

    }
}