* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, .return-top {
  background-color: #FFF4FD;
  font-family: "Chakra Petch", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  min-width: 340px;
}

body a, .return-top a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

main {
  margin-top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 8%;
}

main section {
  margin-top: 68px;
  max-width: 1200px;
  width: 100%;
}

.button {
  font-size: 16px;
  color: #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.colored {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.colored:hover, .colored:active {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.pale {
  background-color: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 140px;
  text-align: center;
}

.pale:hover, .pale:active {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

header {
  width: 100%;
  padding: 0 8%;
}

header > .top-bar {
  margin: 0 -9.6%;
}

header .top-bar {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  margin-bottom: 3%;
  text-align: left;
}

header .header-container {
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 1200px;
}

header .main-header {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

header .main-header [class="night"] {
  display: none;
}

header .main-header img {
  width: 103px;
}

header .main-header #backArrow svg {
  width: 24px;
  height: 24px;
  margin: 10px;
}

header .main-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0px;
}

header .main-header nav .theme-buttons {
  display: none;
}

header .main-header nav .theme-dopdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-header nav .material-icons {
  width: 36px;
  height: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px;
}

header .main-header nav #crearGifo {
  margin-right: 16px;
}

header .main-header nav a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 16.5px;
  margin-right: 5px;
  padding: 5px 6px 5px 0px;
}

header .main-header nav a span {
  border-bottom: 1px solid #000;
  line-height: 2px;
  width: 2px;
  height: 2px;
}

header .main-header nav a:hover {
  outline: 1px dashed #110038;
  outline-offset: 2px;
}

header .main-header nav a:active {
  color: rgba(17, 0, 56, 0.5);
}

.theme-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

.theme-buttons {
  width: 177px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.theme-buttons .theme-dopdown:hover .buttons, .theme-buttons:active .buttons {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.theme-buttons .sailor-day {
  width: 150px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.theme-buttons .sailor-day span {
  border-bottom: 1px solid #110038;
}

.theme-buttons .sailor-night {
  width: 150px;
  height: 36px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-container {
  margin: 2% auto;
  margin-bottom: 0px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 100%;
}

.search-container > div:first-of-type {
  padding: 2px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.search-container .top-bar {
  font-weight: 900;
  -webkit-box-shadow: 0 0 0 0 #E6E6E6;
          box-shadow: 0 0 0 0 #E6E6E6;
  margin-bottom: 0px;
}

.search-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-container .search input {
  width: 100%;
  height: 48px;
  padding: 13px;
  margin: 12px;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.search-container .search input::-webkit-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input:-ms-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input::-ms-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input::placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search .button {
  margin: 18px;
  width: 102px;
  height: 36px;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.search-container .search .button:hover {
  outline: 0px solid transparent;
  outline-offset: 0px;
}

.search-container .search .button svg {
  float: left;
  margin-right: 10px;
}

.search-container .search .button p {
  float: right;
}

.search-container .search .inactive-night, .search-container .search .active-night {
  display: none;
}

.search-container .search .inactive {
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-container .search .inactive .inactive-day {
  display: block;
}

.search-container .search .inactive .inactive-day:active {
  outline: 0px solid transparent;
  outline-offset: 0px;
}

.search-container .search .inactive .active-day {
  display: none;
}

.search-container .search .inactive p {
  color: #B4B4B4;
}

.search-container .search .colored:active {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.search-container .search .colored .inactive-day {
  display: none;
}

.search-container .search .colored .active-day {
  display: block;
}

.search-suggestions {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-items: center;
  padding: 10px 150px 10px 15px;
  width: 100%;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.search-suggestions > div:first-of-type {
  background: #DBDBDB;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-suggestions div {
  width: 100%;
  max-width: 1057px;
  padding: 7px 16px;
  margin: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #110038;
  font-size: 16px;
  text-align: left;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-suggestions div:hover, .search-suggestions div:active {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.prev-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 12px;
  width: 100%;
}

.prev-search > div {
  height: 34px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 8px;
  margin-right: 8px;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.prev-search > div:hover {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.title {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  margin-bottom: 16px;
}

.title h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  font-weight: 400;
  margin: 7px;
}

.suggested-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.suggested-container .suggested-box {
  width: 288px;
  height: 319px;
  padding: 3px;
  margin: 5px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
}

.suggested-container .suggested-box .top-suggested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  padding: 5px;
  margin: 2px;
}

.suggested-container .suggested-box .top-suggested p {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
}

.suggested-container .suggested-box .suggested-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
  background-image: url("");
}

.suggested-container .suggested-box .suggested-gif .button {
  z-index: 1;
  width: 84px;
  height: 34px;
  margin: 15px 7px;
  color: #FFFFFF;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.suggested-container .suggested-box .suggested-gif .button:hover {
  outline: 1px dashed #110038;
  outline-offset: -6px;
}

.bulkGif-container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-columns: (minmax(288px, 4fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(288px, 4fr));
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  max-width: 100%;
  overflow: hidden;
}

.bulkGif-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 298px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: center;
}

.bulkGif-container > div:hover > div {
  display: block;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  width: 100%;
  padding: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  overflow: hidden;
  height: 20px;
  line-height: 18px;
}

.bulkGif-container > div:hover > div span {
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  display: inline;
  font-size: 18px;
  margin-right: 4px;
  float: left;
}

.bulkGif-container > div div {
  display: none;
}

#search {
  display: none;
  margin-top: 64px;
}

#search .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search .title p {
  float: right;
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  margin: 5px 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
}

.return-top {
  border-radius: 50%;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  position: fixed;
  top: 90vh;
  left: 93vw;
}

.return-top a {
  color: #110038;
}

#creadorGifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#creadorGifo .top {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 900;
  padding: 5px;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-container {
  display: block;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 55%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.creator-container .text-container {
  margin: 30px;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #110038;
}

.creator-container .text-container img {
  margin-right: 16px;
  width: 32px;
  height: 32px;
}

.creator-container .text-container p:first-child {
  font-weight: 900;
  margin-bottom: 18px;
  font-size: 16px;
}

.creator-container .text-container p {
  font-size: 14px;
  line-height: 20px;
}

.creator-container .text-container ol {
  font-size: 14px;
  counter-reset: list;
  margin: 9px 0;
}

.creator-container .text-container ol li {
  list-style: none;
  margin: 9px 0;
}

.creator-container .text-container ol li:before {
  content: counter(list) ") ";
  counter-increment: list;
  font-weight: 900;
}

.creator-container .text-container ol li::marker {
  font-weight: 900;
}

.creator-container .button-container {
  margin: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.creator-container .button-container .button {
  margin-right: 16px;
}

.capture-container {
  display: none;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 75%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.capture-container .image-container {
  max-width: 100%;
  padding: 8px 14px 3px 8px;
}

.capture-container .image-container video, .capture-container .image-container img {
  background: black;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 100%;
  max-height: 434px;
  padding-bottom: 2px;
}

.capture-container .image-container img {
  display: none;
  padding: 1px;
}

.capture-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

.capture-container .button-container .timer + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.capture-container .button-container .timer + div div:first-child {
  width: 36px;
}

.capture-container .button-container .timer {
  justify-self: flex-start;
  width: 140px;
  height: 36px;
  padding: 5px 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.capture-container #captureButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.capture-container #captureButtons div:first-child {
  width: 36px;
}

.capture-container #recordingButtons {
  display: none;
}

.capture-container #recordingButtons .button {
  background-color: #FF6161;
  color: #FFFFFF;
}

.capture-container #previewButtons {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.capture-container #previewButtons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.capture-container #previewButtons div .colored {
  margin-left: 8px;
}

.capture-container #previewButtons div .timer + div {
  width: 20px;
  height: 20px;
}

.capture-container .loading {
  width: 242px;
  height: 20px;
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -webkit-column-gap: 2px;
          column-gap: 2px;
  margin-top: 5px;
}

.capture-container .loading li {
  background-color: #999999;
  width: 22px;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
}

.loading {
  margin-left: 2px;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
  padding-left: 2px;
  list-style: none;
}

.uploading-container {
  display: none;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 75%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.uploading-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 8px 14px 3px 8px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  height: 440px;
}

.uploading-container .image-container img + p {
  font-weight: 900;
  margin-bottom: 35px;
  margin-top: 10px;
  font-size: 16px;
  color: #110038;
}

.uploading-container .image-container .loading {
  width: 324px;
  padding: 2px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (1fr)[15];
      grid-template-columns: repeat(15, 1fr);
  -webkit-column-gap: 2px;
          column-gap: 2px;
}

.uploading-container .image-container .loading li {
  background-color: #999999;
  width: 19px;
  height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.uploading-container .image-container .loading li:first-child {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.uploading-container .image-container .loading li:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.uploading-container .image-container .loading li:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.uploading-container .image-container .loading li:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.uploading-container .image-container .loading li:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.uploading-container .image-container .loading li:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.uploading-container .image-container .loading li:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.uploading-container .image-container .loading li:nth-child(8) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.uploading-container .image-container .loading li:nth-child(9) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.uploading-container .image-container .loading li:nth-child(10) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.uploading-container .image-container .loading li:nth-child(11) {
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}

.uploading-container .image-container .loading li:nth-child(12) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.uploading-container .image-container .loading li:nth-child(13) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.uploading-container .image-container .loading li:nth-child(14) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

.uploading-container .image-container .loading li:nth-child(15) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes load {
  from {
    background-color: #999999;
  }
  to {
    background-color: #F7C9F3;
  }
}

@keyframes load {
  from {
    background-color: #999999;
  }
  to {
    background-color: #F7C9F3;
  }
}

.uploading-container .image-container .loading + p {
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  margin: 10px;
}

.uploading-container .image-container span {
  text-decoration: line-through;
}

.uploading-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

.success-container {
  display: none;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 60%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.success-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.success-container .image-container div:first-child {
  max-width: 365px;
  height: 195px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-right: 25px;
}

.success-container .image-container div:first-child img {
  height: inherit;
}

.success-container .image-container .success-buttons {
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.success-container .image-container .success-buttons p {
  font-weight: 900;
  margin: 15px;
}

.success-container .image-container .success-buttons .button {
  width: 256px;
  margin-bottom: 15px;
}

.success-container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 40px;
}
/*# sourceMappingURL=styles-day.css.map */