* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

body {
  background-color: #FFF4FD;
  font-family: "Chakra Petch", sans-serif;
}

.button {
  font-size: 16px;
  color: #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colored {
  background: #F7C9F3;
  outline: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 140px;
  text-align: center;
}

header .top-bar {
  background: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  margin: 35px 140px 19px 100px;
}

header .main-header [class="night"] {
  display: none;
}

header .main-header img {
  width: 103px;
}

header .main-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px;
}

header .main-header nav .theme-buttons {
  display: none;
}

header .main-header nav .theme-dopdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-header nav .theme-dopdown:hover div:before {
  content: " ";
  position: absolute;
  width: inherit;
  height: inherit;
  border-collapse: collapse;
  border: 1.5px dotted #110038;
}

header .main-header nav .material-icons {
  width: 36px;
  height: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0px;
}

header .main-header nav a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 16.5px;
}

header .main-header nav a span {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  line-height: 2px;
}

.theme-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 16px;
  z-index: 1;
}

.theme-buttons {
  width: 177px;
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.theme-buttons .sailor-day {
  width: 150px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.theme-buttons .sailor-night {
  width: 150px;
  height: 36px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-container {
  margin: 35px 140px 19px 100px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.search-container .top-bar {
  font-weight: 900;
}

.search-container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-container .search input {
  width: 1057px;
  height: 48px;
  padding: 13px;
  margin: 12px;
  color: #110038;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.search-container .search input::-webkit-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input:-ms-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input::-ms-input-placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search input::placeholder {
  color: #B4B4B4;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
}

.search-container .search .button {
  margin: 18px;
  width: 102px;
  height: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search-container .search .button svg {
  float: left;
  margin-right: 10px;
}

.search-container .search .button p {
  float: right;
}

.search-container .search .inactive-night, .search-container .search .active-night {
  display: none;
}

.search-container .search .inactive {
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-container .search .inactive .inactive-day {
  display: block;
}

.search-container .search .inactive .active-day {
  display: none;
}

.search-container .search .inactive p {
  color: #B4B4B4;
}

.search-container .search .colored .inactive-day {
  display: none;
}

.search-container .search .colored .active-day {
  display: block;
}

.search-container .search .colored:active {
  border: 1px solid #110038;
}
/*# sourceMappingURL=styles-day.css.map */