// all themes
$font-fam: 'Chakra Petch', sans-serif;

$fsize-reg: 16px;
$fsize-med: 14px;
$fsize-small: 12px;

$fcolor-db: #110038;
$fcolor-lb: #FFFFFF;

//light theme
$day-background: #FFF4FD;
$day-greybox: #E6E6E6;
$day-gradient: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

$day-bcolored: #F7C9F3;
$day-bgrey: #F0F0F0;
$day-bactive:#CCA6C9;
$day-gif: #4180F6;
$day-brec:#FF6161;


//dark theme
$night-background: #110038;
$night-greybox: #B4B4B4;
$night-theme-selected: #2E32FB;
$night-gradient: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);

$night-bcolored: #EE3EFE;
$night-bgrey: #F0F0F0;
$night-bactive:#B4B4B4;
$night-brec:#FF6161;